@import "tailwindcss";

:root {
  --font-primary: var(--font-roboto);
  --font-accent: var(----font-merriweather);
}

.file-text ::selection {
  background-color: #EDE9FE;
  color: #1d4ed8;
  text-decoration: underline;
}

.light {
  --background: #ffffff;
  --text-color: #171717;
  --title: #4B0082;
  --subtitle: #4B5563;
}

.dark {
  --background: #0a0a0a;
  --text-color: #ededed;
  --title: #D8BFD8;
  --subtitle: #858c97;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}